@use '_variables' as *;

@mixin d-flex($justify: null, $align: null, $direction: null) {
    display: flex;
    @if $justify   !=null { justify-content: $justify; }
    @if $align     !=null { align-items: $align; }
    @if $direction !=null { flex-direction: $direction; }
}

@mixin d-grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin font($size: null, $weight: null, $color: null, $align: null, $transform: null) {
    @if $size      != null { font-size: $size; }
    @if $weight    != null { font-weight: $weight; }
    @if $color     != null { color: $color;}
    @if $align     != null { text-align: $align; }
    @if $transform != null { text-transform: $transform; }
}
